---
import Layout from '../../layouts/Layout.astro';
import FotoA from '../../components/FotoA.astro';
import TwitchCard from '../../components/TwitchCard.astro'
import Advertising from '../../components/AdvertisingCard.astro'
import AboutMe from '../../components/AboutMe.astro'
import NickCard from '../../components/NickCard.astro'
import CategoryCard from '../../components/CategoryCard.astro'
import FotoB from '../../components/FotoB.astro'
import FotoC from '../../components/FotoC.astro'
import SponsorCard from '../../components/SponsorCard.astro'
import Navbar from '../../components/navigation/Navbar.astro';
 
import { getSession } from 'auth-astro/server'; 
const session = await getSession(Astro.request);
  
if(!session){
    return Astro.redirect('/login');    
}

---

---

<Layout title="markverso bento"> 
	<Navbar />
	<article class="grid grid-cols-1 xl:grid-cols-12 gap-4 w-full sm:w-7/12 mx-auto p-5">
		<div class="grid grid-cols-1 xl:col-span-4 gap-4 w-full">
		  <FotoA />
		  <AboutMe />		  
		</div>
		<div class="grid grid-cols-1 xl:grid-cols-2 xl:col-span-6 gap-3">
			<TwitchCard />
			<Advertising />
			<NickCard /> 
		</div>
		<div class="flex flex-row flex-wrap gap-4 w-full xl:col-span-2">
			<CategoryCard />
			<FotoB />
		</div>
	</article>
	<article class="grid  grid-cols-1 xl:grid-cols-2 gap-4 w-full sm:w-7/12 mx-auto pl-5 pb-5 pr-5">
		<SponsorCard />
		<FotoC />
	</article>
</Layout>
 