--- 
import { SignIn, SignOut } from 'auth-astro/components'
import { getSession } from 'auth-astro/server'; 
const session = await getSession(Astro.request);

import ToggleTheme from '../ToggleTheme';

---

<nav class="text-slate-900 dark:text-slate-100 p-5 bg-slate-100 dark:bg-slate-900 flex flex-row justify-between transition-colors">
    <div class="font-bold text-base">Markverso Bento</div>
    <ul class="nav-links">
        
    </ul>
    <div class="flex flex-row gap-2 items-center"> 
        <ToggleTheme client:load/>
        {session ? ( 
            <SignOut class="p-3 bg-red-700 rounded">Cerrar Sesión</SignOut>
         )  : (                      
            <a href="/login" class="p-3 bg-purple-700 rounded">Iniciar sesión</a> 
         )}	 
    </div>
</nav>