---
import Layout from '../layouts/Layout.astro'; 
import Navbar from '../components/navigation/Navbar.astro' 
---

<Layout title="markverso bento">
	 <Navbar />
	 <main class="text-white p-5"> 
	 </main>
</Layout>
 