---
---

<div class="relative w-full h-min-[250px] rounded-xl bg-slate-100 dark:bg-slate-900 text-slate-800 dark:text-white flex flex-col p-3  transition-colors">
    <h4 class="text-2xl font-bold text-center">Sobre mí</h4>
    <hr class="w-full max-w-[50px] border-y-4 rounded-xl my-2 border-green-600 mx-auto"/>
    <p class="text-base text-pretty">
        Mi nombre es Pablo Cano, Desarrollador Fullstack de Santiago, Chile. 9 años de experiencia, amplio conocimiento en múltiples lenguajes de programación, además del uso de diferentes sistemas operativos.        
    </p> 
</div>

<style>
     
</style>