---
---

<div class="relative w-full h-48 rounded-xl bg-slate-900 text-white flex flex-col p-3">
    <h4 class="text-2xl font-bold">Sobre mí</h4>
    <hr class="max-w-[50px] border-y-4 rounded-xl my-2 border-green-600"/>
    <p class="text-base text-pretty">ir leyendo distintos textos del latín, descubrió la fuente indudable. Lor</p>
    <p class="text-base text-pretty">ir leyendo distintos textos del latín, descubrió la fuente indudable. Lor</p>
</div>

<style>
     
</style>