---
---

<div class="picture relative w-full rounded-xl bg-slate-900 text-white">
    
</div>

<style>
    .picture {
        background-image: url('img/Foto-C.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 200px;
    }
</style>