---
---

<div class="relative w-full rounded-xl bg-slate-900 text-white">
    <img src="/img/Foto-A.png" alt="Foto A Streamer X" class="w-full rounded-xl" />
    <div class="absolute bottom-0 left-0 right-0 py-2">
        <ul class="flex flex-row flex-nowrap gap-5 justify-center items-center">
            <li class="flex flex-row flex-nowrap items-center gap-1">
                <span class="circle"></span><span>5K</span>
            </li>
            <li class="flex flex-row flex-nowrap items-center gap-1">
                <span class="circle"></span><span>5K</span>
            </li>
            <li class="flex flex-row flex-nowrap items-center gap-1">
                <span class="circle"></span><span>5K</span>
            </li>
        </ul>
    </div>
</div>

<style>
    .circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
        display: inline-block;
    }
</style>