---
---

<div class="relative row-span-4 col-span-2 w-full rounded-xl bg-slate-900 text-white flex flex-row flex-nowrap justify-center items-center">
    <h1 class="text-6xl font-bold">Bloidev</h1>
</div>

<style>
     
</style>