---
---

<a href="#" class="flex flex-col gap-3 w-full h-auto min-h-[200px] rounded-xl bg-slate-100 dark:bg-slate-900 text-slate-800 dark:text-white justify-center items-center hover:bg-slate-100 dark:hover:bg-slate-950 transition-colors font-bold" >
    <div class="profile"></div>
    Twitch.tv/bloidev 
</a>

<style>
     .profile{
        background-image: url('img/profile-twitch.png');
        border: 3px solid white;
        border-radius: 0.25rem;
        width: 100px;
        height: 100px;
        background-position: center;
        background-size: contain;
        background-color: #43435B;
     }
</style>